<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单那些事</title>
</head>
<body>
    <form method="post">
        用户名: <input type="text" name="username"><br>
        密 码: <input type="password" name="pwd">
        <p>性别:</p>
        <input type="radio" name="sex" value="male">男神
        <input type="radio" name="sex" value="female">女神
        <p>你目前的家产:</p>
        <input type="checkbox" name="property" value="bike"> 一辆自行车
        <input type="checkbox" name="property" value="compute">一台电脑
        <input type="checkbox" name="property" value="phone"> 一个手机
        <br>

        <textarea name="content">
            这里可以输入你要的文本。。。
        </textarea>
        <input type="submit" value="提交">
    </form>

</body>
</html>